<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onestep.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--BaiduMaps-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/main_ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".account.UserActivity"
            android:label="个人中心" />

        <activity
            android:name=".discover.DiscoverActivity"
            android:label="@string/tab_name2" />

        <activity
            android:name=".guide.CityProfileActivity"
            android:label="@string/city_profile_second_title" />

        <activity
            android:name=".guide.TrafficActivity"
            android:label="@string/traffic_second_title" />

        <activity
            android:name=".guide.ConsumptionActivity"
            android:label="@string/consumption_second_title" />

        <activity android:name=".discover.HotPlacesActivity" />

        <activity android:name=".discover.HotFoodActivity" />

        <activity android:name=".discover.RouteActivity" />

        <activity android:name=".discover.PlaceDetailActivity" />

        <activity android:name=".search.SearchActivity" />

        <activity
            android:name=".discover.RouteMapActivity"
            android:label="路线" />

        <activity
            android:name=".account.LoginActivity"
            android:label="登录" />

        <activity
            android:name=".account.RegisterActivity"
            android:label="注册" />

        <activity
            android:name=".account.FriendActivity"
            android:label="地接社" />

        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:theme="@style/ImagePickerThemeFullScreen" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ARhPIgigPzQ4ECVItNuoGjwzT1y1ksHl" />
    </application>

</manifest>